
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;1,200&family=Open+Sans&family=Playfair+Display&family=Poppins:ital,wght@0,500;1,400&family=Roboto:wght@300&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#562EFF;
}
body{
  background: #E5E5E5;
}
h2{
    color: var(--primary-color);
    margin: 25px;
  
}
.header{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    height: 94px;
    color: white;
}
.heading{
    display: flex;
    gap: 15px;
    align-items: center;
}
.heading img{
    width: 40px;
    height: 50px;
    
   
}
nav{
    display: flex;
}
.nav ul{
    display: flex;
    list-style: none;
    gap: 35px;
    align-items: center;

}
/* main section */
main{
    background-color: white;
    border-radius:5px;
     width: 70%;
    padding: 25px;
    margin: 30px  auto;
    
}

/* top player sections start*/
.top-player-container{
    width: 870px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
}
.player{
    display: flex;
    align-items: center;
    margin: 25px;
    gap: 15px;
 
}

.player img{
    width:56px;

}


/* top blog sections start */
.top-blogs-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.top-blog{
    display: flex;
    align-items: center;
    margin: 25px;
    gap: 15px;
}
.top-blog img{
    width: 170px;
   
}
.blogs-info p{
    color: gray;
    
}
.blogs-info a{
    text-decoration: none;
    color: var(--primary-color);
    
}

/* Latest course sections */

.latest-course-section{
    background-color: white;
    border-radius:5px;
     width: 70%;
     margin: 30px  auto;
     padding: 25px;
 
}
.latest-course-container{
    display: grid;
    gap:40px;
    grid-template-columns: repeat(3,1fr);
  
  
   
    

   
}
.course{
    box-shadow: 3px 3px 8px rgb(195, 193, 193);
    border-radius: 5px;
    padding: 16px;
    
}

.course p{
   color: #FF4A60;
   margin: 10px 0;

    
}
.course img{
    width:200px;

}
.course-info{

  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-star{
    color:#FFC014;
}
.fa-star-no-color{
   color: #AEAEAE;

}
.ratings p{
    color: gray;
}
/* responsive style */
@media screen and (max-width:576px) {

    /* heading section start */
    .header{
        width: 100%;
        height: 100%;
    }
    .heading{
      
        padding: 0px;
    }
    .nav ul{
        gap: 10px;
    }
  /* heading section end */
    /* ------------------top-player-section--------- */
    .top-player-container{
     grid-template-columns: repeat(1,1fr);
     width: 100%;
    }
    /* top-blogs-section start  ---- */
    .top-blogs-container{
        grid-template-columns: repeat(1,1fr);
    }
    .top-blog{
        flex-direction: column;
    }
    main{
        padding: 0;
    }





    /* latest-course-section start */

    .latest-course-section{
        width: 90%;
    }
    .latest-course-container{
        grid-template-columns: repeat(1,1fr);
    
        gap: 10px;
    }
    


}